@page
@model AssetManagement.Pages.Admin.Assets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of assets</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<br />
 <form method="post">
         <label for="cars">Status:</label>
         <input type="hidden" name="page" value="1" />
            <select name="stat" onchange="this.form.submit()">
                <option selected="@(ViewBag.status == 0?"selected":null)" value="0">--All Status--</option>               
                    <option selected="@(ViewBag.status == 1?"selected":null)" value="1">Đang mượn</option>
                    <option selected="@(ViewBag.status == 2?"selected":null)"  value="2">Sẵn Sàng</option>

            </select>
    </form>

    <br />
<table class="table">
    <input type="hidden" asp-for="@Model.Filter.page" value="1" />
    <thead>
        <tr>    
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].Specification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Asset) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetName)
            </td>
           
                    @if (item.Status == true)
                    {
                    <td style="color: red; font-weight: bold;">
                        Đang mượn
                    </td>
                    }
                    else
                    {
                    <td style="color: green; font-weight: bold;">
                        Sẵn sàng
                    </td>
                    }
           
            <td>
                    <img src="/images/@item.Image" width="100px" height="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>
<table style="margin-top:100px">
    <tr>
        <td>
            <form method="post">
                <input type="hidden" name="page" value="@(ViewBag.page - 1)" />
                <input type="hidden" name="stat" value="@ViewBag.status"  />
                @if (ViewBag.page == 1)
                {
                    <button disabled style="width:60px;color:white;background:#6d7687" type="submit">Previos</button>
                }
                else
                {
                    <button style="width:60px;color:white;background:#015bff" type="submit">Previos</button>
                }
            </form>
        </td>
        <td>
        <td>
            <form method="post">
                    <input type="hidden" name="page" value="@(ViewBag.page + 1)" />
                    <input type="hidden" name="stat" value="@ViewBag.status"  />

                    @if (ViewBag.page >= ViewBag.totalPage)
                    {
                    <button disabled style="width:60px;color:white;background:#6d7687" type="submit">Next</button>
                    }
                    else
                    {
                    <button style="width:60px;color:white;background:#015bff" type="submit">Next</button>
                    }
            </form>
        </td>
        <td><div>Page:@ViewBag.page/@ViewBag.totalPage</div></td>
    </tr>
</table>
