@page
@model AssetManagement.Pages.Admin.AssetManagerModel
@{
    ViewData["Title"] = "AssetBorrowing";
}

<h1>Asset Management</h1>

@if(ViewBag.user == null)
{
    <h1>You must be logged to see this</h1>
}else{
    <div>
        <span style="display:inline-block">
            <form style="display:inline-block" method="post">
                <input type="hidden" asp-for="@Model.Filter.page" value="1" />
                <label for="cars">Trạng thái:</label>
                <select asp-for="@Model.Filter.status">
                    <option value="3">--All Status--</option>
                    <option value="0">Sẵn sàng</option>
                    <option value="1">Đang mượn</option>
                </select>
                <span>
                    Find by name: <input asp-for="@Model.Filter.keyWord" type="text" />
                    <button type="submit" style="margin-left:30px;color:white;background:#015bff;">Search</button>
                </span>
            </form>
            <a asp-area="" asp-page="/Admin/AssetManager">Back to full list</a>
        </span>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                Asset Name
            </th>
            <th>
                Category
            </th>
            <th>
               Status
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.listAsset) {
        <tr>
            <td>
                <img src="/images/@item.Image" width="100px" height="100px"/>
            </td>
            <td>
                <a asp-page="./DetailAsset" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.AssetName)</a>
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
                @if(item.Status == true){
                        <td>
                            Đang mượn
                        </td>
                    }
                    else
                    {
                         <td>
                            Sẵn sàng
                        </td>
                    }
                    @if (item.Status == true)
                    {
                        <td>
                            <a href="#">Trả đồ</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a href="#">Cho mượn</a>
                        </td>
                    }
        </tr>
}
    </tbody>
</table>
<table style="margin-top:100px">
    <tr>
        <td>
            <form method="post">
                <input type="hidden" asp-for="@Model.Filter.page" value="@(Model.Filter.page - 1)" />
                <input type="hidden" asp-for="@Model.Filter.status" value="@Model.Filter.status" />
                <input type="hidden" asp-for="@Model.Filter.keyWord" value="@Model.Filter.keyWord" />
                @if (Model.Filter.page == 1)
                {
                    <button disabled style="width:60px;color:white;background:#6d7687" type="submit">Previos</button>
                }
                else
                {
                    <button style="width:60px;color:white;background:#015bff" type="submit">Previos</button>
                }
            </form>
        </td>
        <td>
        <td>
            <form method="post">
                <input type="hidden" asp-for="@Model.Filter.page" value="@(Model.Filter.page + 1)" />
                <input type="hidden" asp-for="@Model.Filter.status" value="@Model.Filter.status" />
                <input type="hidden" asp-for="@Model.Filter.keyWord" value="@Model.Filter.keyWord" />
                    @if (Model.Filter.page == ViewBag.totalPage)
                    {
                    <button disabled style="width:60px;color:white;background:#6d7687" type="submit">Next</button>
                    }
                    else
                    {
                    <button style="width:60px;color:white;background:#015bff" type="submit">Next</button>
                    }
            </form>
        </td>
        <td><div>Page:@Model.Filter.page/@ViewBag.totalPage</div></td>
    </tr>
</table>
}
