@page
@model AssetManagement.Pages.Admin.DetailAssetModel
@{
}
<h1>Asset Detail</h1>
<table>
    <tr>
        <td>Asset name: </td>
        <td>@Model.asset.AssetName</td>
    </tr>
    <tr>
        <td>Category: </td>
        <td>@Model.asset.Category.CategoryName </td>
    </tr>
    <tr>
        <td>Status: </td>
        <td>@Model.asset.Status </td>
    <tr>
        <td><span>Specification:</span> </td>
        <td>@Model.asset.Specification</td>
    </tr>
</table>
<div>History</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Asset Name
            </th>
            <th>
                Category
            </th>
            <th>
                Ngày Đăng Ký Mượn
            </th>
            <th>
                Status
            </th>
            <th>
                Hạn phải trả
            </th>
            <th>
                Ngày trả
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.assetBorrowing)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Asset.AssetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asset.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowDate)
                </td>

                @if (item.Status == true)
                {
                    <td>
                        Đang mượn
                    </td>
                }
                else
                {
                    <td>
                        Đã trả
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetrurnDate)
                </td>

            </tr>
        }
    </tbody>
</table>
<a asp-page="./AssetManager">Back to list</a>
